<a href="https://colab.research.google.com/github/Vaibhav074N/Assigement-Feb24/blob/main/Assignment_Feb24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.

In [ ]:
# read_csv() - reads data from a CSV file and creates a DataFrame.

import pandas as pd
import numpy as np

d= pd.read_csv('/services.csv')

In [ ]:
d.head(4)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN

In [ ]:
# groupby() - groups rows of a DataFrame by one or more columns and aggregates data.

import pandas as pd
d= pd.read_csv('/services.csv')

In [ ]:
# concat() - concatenates multiple DataFrames along a specified axis.

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})
df = pd.concat([df1, df2], axis=0)

In [ ]:
df

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [ ]:
# pivot_table() - creates a pivot table from a DataFrame.

df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'one', 'two', 'two', 'one'],
                   'C': [1, 2, 3, 4, 5, 6]})

pivot = pd.pivot_table(df, values='C', index=['A'], columns=['B'], aggfunc=np.mean)

In [ ]:
print(pivot)

B    one  two
A
bar    3    4
foo    3    5

In [ ]:
# fillna() - fills missing values in a DataFrame with a specified value or method.

f = pd.DataFrame({'A': [1, 2, np.nan, 4], 'B': [5, np.nan, np.nan, 8]})
f = f.fillna(f.mean())

In [ ]:
f

          A    B
0  1.000000  5.0
1  2.000000  6.5
2  2.333333  6.5
3  4.000000  8.0

Q2.

In [6]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df.index = new_index
    return df

df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [6, 7, 8, 9, 10],
                   'C': [11, 12, 13, 14, 15],})
new_df = reindex_dataframe(df)
print(new_df)

   A   B   C
1  1   6  11
3  2   7  12
5  3   8  13
7  4   9  14
9  5  10  15

Q3.

In [8]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
values_sum = df['Values'].iloc[:3].sum()
print('Sum of the first three values:', values_sum)

Sum of the first three values: 60

Q4.

In [11]:
df = pd.DataFrame({'Text': ['Hello vaibhav', 'This is a me', 'Pandas is awesome']})
df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
print(df)

                Text  Word_Count
0      Hello vaibhav           2
1       This is a me           4
2  Pandas is awesome           3

Q5.

DataFrame.size(): This method returns the total number of elements in the DataFrame. It is equivalent to the product of the number of rows and the number of columns in the DataFrame. For example, if a DataFrame has 3 rows and 3 columns, the size() method will return 9.

DataFrame.shape(): This method returns a tuple containing the number of rows and the number of columns in the DataFrame. For example, if a DataFrame has 5 rows and 3 columns, the shape() method will return (5, 3).


So, the main difference between these two methods is that size() returns the total number of elements in the DataFrame, whereas shape() returns the number of rows and columns as a tuple

Q6.

To read an Excel file in Pandas, we use the read_excel() function. It can read data from Excel files in various formats, including .xls, .xlsx, and .xlsm.

Q7.

In [12]:
df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']
})

df['Username'] = df['Email'].str.split('@').str[0]

print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

Q8.

In [14]:
df = pd.DataFrame({'A': [3,8,6,2,9], 'B': [5,2,9,3,1], 'C': [1,7,4,5,2]})
new_df=df[(df['A'] > 5) & (df['B'] < 10)]
print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9.

In [40]:
df = pd.DataFrame({'Values':[10,90,30,40,100]})

In [41]:
mean = df['Values'].mean()
median = df['Values'].median()
std = df['Values'].std()

In [42]:
print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std)

Mean: 54.0
Median: 40.0
Standard deviation: 39.11521443121589

Q10.

In [43]:
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                   'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', 
                            '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10']})
rolling_mean = df['Sales'].rolling(window=7, min_periods=1).mean()
df['MovingAverage'] = rolling_mean
print(df)

   Sales        Date  MovingAverage
0     10  2022-01-01           10.0
1     20  2022-01-02           15.0
2     30  2022-01-03           20.0
3     40  2022-01-04           25.0
4     50  2022-01-05           30.0
5     60  2022-01-06           35.0
6     70  2022-01-07           40.0
7     80  2022-01-08           50.0
8     90  2022-01-09           60.0
9    100  2022-01-10           70.0

Q11.

In [45]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()

In [46]:
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12.

In [52]:
import pandas as pd

def select_date_range(df):
  
    df['Date'] = pd.to_datetime(df['Date'])
    
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    
    return df[mask]

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-03-15']})

result = select_date_range(df)

print(result)

        Date
0 2023-01-01
1 2023-01-15

Q13.

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

The convention to import pandas is ''import pandas as pd'' to provide an alias pd that can be used to reference pandas functions throughout the code.